<div class="recipe-detail" *ngIf="recipe">
  <img
    src="{{recipe.imageUrl}}"
    alt="High Protein Chicken"
    class="recipe-image"
  />
  <div class="recipe-info">
    <h1>{{ recipe.title }}</h1>
    <p class="macros">
      Protein: <strong>{{ recipe.protein }}g</strong> |
      Calories: <strong>{{ recipe.calories }}kcal</strong> |
      Preparation time: <strong>{{ recipe.prepTime }} min</strong>
    </p>
    <p class="description">
      {{ recipe.description }}
    </p>

    <h2>Preparation Steps:</h2>
    <ol class="preparation-steps">
      <li *ngFor="let step of recipe.steps">{{ step }}</li>
    </ol>

    <div class="recipe-actions" *ngIf="isLoggedIn">
      <button class="btn edit-btn" *ngIf="ownerId === userId">Edit</button>
      <button class="btn delete-btn" *ngIf="ownerId === userId">Delete</button>
      <button class="btn edit-btn" *ngIf="ownerId === userId" (click)="onEdit()">Edit</button>
    </div>
  </div>
</div>
