.about {
  padding: 1rem 10%;
  background-color: #fdf7ff; /* леко лилав фон */
  color: #333;
}

.about-header {
  text-align: center;
  margin-bottom: 3rem;
}

.about-header h1 {
  font-size: 3rem;
  color: #501138; /* розово */
}

.about-header p {
  font-size: 1.2rem;
  color: #666;
  max-width: 600px;
  margin: 0 auto;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.about-text {
  flex: 1 1 50%;
}

.about-text h2 {
  font-size: 2rem;
  color:#ae6f6f;
  margin-bottom: 1rem;
}

.about-text p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.about-image {
  flex: 1 1 40%;
  text-align: center;
}

.about-image img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
