.hero {
  height: 88vh; 
  background: url('/assets/images/home.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  padding-left: 5%; 
  color: #fff;
}

.hero-content {
  max-width: 500px;
  padding: 2rem;
  border-radius: 10px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #c24bac; 
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #d05ed0; 
}

.btn {
  background-color: #ff66c4; 
  color: white;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #e055ad;
}

