nav.navbar {
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0e4f1;
}
.guestNav,
.userNav{
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 0;
}

.guestNav li a:hover{
    cursor: pointer;
}
.nav,
.logo {
    list-style: none;
    padding: 0;
    margin: 0;
}

.logo img {
    width: 250px;
    height: 90px;
    margin-left: 50px;
}

.navbar {
    background-color: #f8f9fa;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0 50px 0 0;
    padding: 0;
    display: flex;
    gap: 25px;
}

.nav-list li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    font-weight: 500;
    font-family: Arial, sans-serif;
    transition: color 0.3s ease;
}

.nav-list li a:hover {
    color: #e939c6;
}

.nav-list li a.active {
    font-weight: 700;
    border-bottom: 2px solid #be53aa;
    color: #cd5fdc;
}