<nav class="navbar">
    <div class="nav">
        <li class="logo"><img src="assets/images/logo.png" alt="Logo"></li>
        <ul class="nav-list">
          <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
          <li><a routerLink="/recipes" routerLinkActive="active">Recipes</a></li>
          <li><a routerLink="/about" routerLinkActive="active">About</a></li>
          <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
          <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
        </ul>
    </div>
</nav>
