
.app-footer {
  background-color:#ebc5ee;
  color: #0e0e0e;
  padding: 15px 0;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-content {
  max-width: 1000px;
  margin: auto;
}

.footer-content p {
  margin: 5px 0;
}

.footer-content nav {
  margin-top: 8px;
}

.footer-content a {
  color: #0c0c0c;
  text-decoration: none;
  margin: 0 10px;
}

.footer-content a:hover {
  color: #d7a6dd;
}
